<ul class="users">
  <% @users.each do |user| %>
    <li>
      <% if user.image.attached? %>
        <%= image_tag user.profile(70), class: "image" %>
      <% end %>
      <%= link_to user.name, user_path(user) %>
    </li>
  <% end %>
</ul>