<div class="col-md-3 side-bar">
  <aside>
  <%# サイドバー上部 %>
    <%= render 'shared/tasks_history', user: current_user, created_at_values: @my_created_at_values %>
  <%# サイドバー下部 %>
    <%= render 'shared/task_title_count' %>
  </aside>
</div>