<div class="col-md-3 side-bar">
  <aside>
  <%# サイドバー上部 %>
    <%= render 'shared/tasks_history', user: current_user %>
  <%# サイドバー下部 %>
    <div class="task-title-count">
      <div class="display-title-info">
        <i class="fa fa-arrow-left" aria-hidden="true"></i>
        <span>使用頻度が高いタスク<br>(クリックで追加)</span>
      </div>
      <%= form_with model: @task, id: "hidden-form", remote: true, style: "display: none;" do |f| %>
        <%= f.hidden_field :title %>
      <% end %>
      <% if @task_title_count %>
        <ul class="display-title">
          <% @task_title_count.each do |task| %>
            <li class="task-title"><%= task.title %></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </aside>
</div>