<aside>
  <div class="tasks-history"> 
    <p>履歴</p>
    <% if @created_at_values.present?%>
      <% @created_at_values.each do |task| %>
        <p><%= link_to task.created_date, tasks_path(created_at: task.created_date.to_s)  %></p>
      <% end %>
    <% end %>
  </div>
  <div class="remember-tasks">タグ</div>
</aside>