@import "bootstrap-sprockets";
@import "bootstrap";


// _header
#logo {
  margin-bottom: 100px;
  a:hover {
    text-decoration: none;
  }
}
.navbar {
  height: 100vh;
  text-align: center;
  position: fixed;  
  top: 0;
  left: 0;
  background-color: silver;
  font-size: 2rem;
  li {
    margin-bottom: 40px;
  }
}