// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

@import "bootstrap-sprockets";
@import "bootstrap";

// home page

// メインコンテンツ
.main-contents {
  height: 100%;
  .today-label {
    margin: 80px 0 30px;
    font-size: 40px;
  }
  .add-task-field {
    .add-task-form {
      display: inline-block;
      width: 400px;
      height: 40px;
      border: 1px solid;
      margin-right: 0px;
    }
    input[type="submit"] {
      font-size: 15px;
      width: 70px;
      height: 40px;
      box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
    }
    .max-tasks {
      color: #A9A9A9;
      font-size: 25px;
      vertical-align: middle;
    }
  }
}
.task-field {
  font-size: 25px;
  margin-top: 20px;
  .added-task {
    display: flex;
    margin-bottom: 16px;
  }
  input[type="checkbox"] {
    position: relative;
    top: 3px;
    height: 25px;
    width: 25px;
  }
  input[type="submit"] {
    font-size:  15px;
    width: 70px;
    height: 40px;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
  }
  label {
    margin-bottom: 0;
  }
  .task-title {
    margin-right: 40px;
  }
  .edit-task-form {
    display: inline-block;
    width: 400px;
    height: 40px;
    border: none;
    margin-right: 0px;
  }
}

// 過去のタスク表示
.past-task {
  margin-bottom: 20px;
}

// 右サイドバー
.side-bar {
  height: 100%;
  padding: 0;
  background-color: #DDFFFF;
  P{ 
    text-align: center;
  }
  .tasks-history {
    height: 50vh;
    padding: 20px 5px;
    font-size: 3rem;
    overflow: auto;
    border-bottom: 10px solid white;
  }
  .task-title-count {
    height: 50vh;
    padding: 20px 5px;
    border-top: 10px solid white;
    .display-title-info{
      display: flex;
      margin-bottom: 20px;
      .fa {
        margin-right: 5px;
        font-size: 60px;
        padding: 0 20px;
      }
      span {
        font-size: 2rem;
      }
    }
    .display-title {
      font-size: 1.6rem;
      padding-left: 20px;
      list-style: none;
      li {
        display: inline-block;
        padding: 5px;
        margin-bottom: 10px;
        background-color: #A9A9A9;
        border-radius: 10px;
        cursor: pointer;
      }
    }
  }
}